<div class="container" style=" display: flex; justify-content: space-between;">
    <div class="login-box-left" style="">
        <div class="" style="border-radius: 20px; ">
            <!-- Image container div -->
           
                <img
                    class="image is-fullwidth"
                    style="width: 100%; height: auto; object-fit: fill;"
                    src="/assets/vass.jpg"
                    crossorigin
                />
           
        </div>
    </div>
    <div class="login-box-right">
        <div class="login-message">Signin <br/> to order <br/> your favorite tacos....</div>
        <div style="">
            <form [formGroup]="loginForm" (submit)="login()">
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="email" formControlName="username" placeholder="Email">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input id="password" class="input" type="password" formControlName="password" placeholder="Password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <p *ngIf="loginError" class="help is-danger">
                {{ errMsg }}
              </p>
              <div class="field">
                <p class="control">
                  <button class="button is-success">
                    Login
                  </button>
                </p>
              </div>
            </form>
        </div>
        
    </div>
</div>