<div class="container">

  <form [formGroup]="applyForm" (submit)="submitTacoDesign()">
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 900px; ">
        <div style="flex: 400px; padding: 10px;" *ngFor="let groupItem of designService.ingredientByGroup; index as i;">
            <div>
                <div class="field">
                    <label class="label" for="FLTO"> {{designService.prefixMap[groupItem.type]}} {{ groupItem.type | lowercase}}:</label>
                </div>
                <div *ngFor="let ingredient of groupItem.ingredients; ">
                    <div class="field ingredient-div" style="flex-direction: row;">
                      <figure class="image is-128x128 taco-figure">
                        <img src="/assets/images/design/corn-tortilla.jpg" />
                      </figure>
                        <label class="checkbox ingredient-label">
                            <input id="{{ ingredient.id }}" type="checkbox" name="ingredients" value="{{ ingredient.type }}" 
                            (change)="addIngredient($event)" formArrayName="ingredients" />
                            {{ ingredient.name }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="field" style="padding: 10px;">
        <label class="label" for="taco-name">Name your Taco creation</label>
        <div class="control" style="width: 400px;">
          <input id="taco-name" class="input" type="text"
           placeholder="Text input" formControlName="name" >
        </div>
     </div>

    <div class="field is-horizontal">
       
        <div class="field-body">
          <div class="field" style="padding: 10px;">
            <div class="control">
              <button class="button is-primary">
                Submit your taco
              </button>
            </div>
          </div>
        </div>
    </div>
    </form>
</div>
