.main-container {
    background: rgb(33,157,222);
    background: linear-gradient(90deg, rgba(33,157,222,1) 0%, rgba(190,232,215,1) 24%, rgba(83,227,228,1) 100%);
    padding-top: 20px;
    padding-bottom: 20px;
}