<div class="container" style="width: 60%;">
    <form [formGroup]="registrationForm" (submit)="registerUser()">
      <div class="field">
        <label class="label" for="reg-username">Username</label>
        <div class="control">
          <input id="reg-username" class="input" type="text" required 
            name="username" autocomplete="username"
            placeholder="Enter username" formControlName="username" >
        </div>
        <div *ngIf="username && username.invalid && (username.dirty || username.touched)">
          <p class="help is-danger" *ngIf="username.hasError('required')" >
            Username is required.
          </p>
          <p class="help is-danger" *ngIf="username.hasError('minlength')" >
            Username must be at least 4 characters long.</p>
        </div>
      </div>
      
      <div class="field">
        <label class="label" for="reg-password">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input id="reg-password"  class="input is-success" type="password" 
          placeholder="Password" autocomplete="new-password" formControlName="password">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
        <div *ngIf="password && password.invalid && (password.dirty || password.touched)">
          <p class="help is-danger" *ngIf="password.hasError('required')" >
            Password is required.
          </p>
          <p class="help is-danger" *ngIf="password.hasError('minlength')" >
            Password must be at least 8 characters long.</p>
        </div>
      </div>

      <div class="field">
        <label class="label" for="reg-confirm-password">Confirm Password</label>
        <div class="control has-icons-left has-icons-right">
          <input id="reg-confirm-password" class="input is-success" type="password" 
          placeholder="Password" autocomplete="new-password"  name="confirmPassword"
          formControlName="confirmPassword">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
        <div *ngIf="confirmPassword && confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
          <p class="help is-danger" *ngIf="confirmPassword.hasError('required')" >
            Confirm Password is required.
          </p>
          <p class="help is-danger" *ngIf="confirmPassword.hasError('minlength')" >
            Confirm Password must be at least 8 characters long.</p>
        </div>
      </div>

      <div class="field">
        <label class="label" for="reg-fullName">Fullname</label>
        <div class="control">
          <input id="reg-fullName" class="input" type="text" placeholder="Fullname"
            formControlName="fullName">
        </div>
      </div>

      <div class="field">
        <label class="label" for="reg-street">Street</label>
        <div class="control">
          <input id="reg-street" class="input" type="text" placeholder="Street"  formControlName="street">
        </div>
      </div>

      <div class="field">
        <label class="label" for="reg-city">City</label>
        <div class="control">
          <input id="reg-city" class="input" type="text" placeholder="City"  formControlName="city">
        </div>
      </div>

      <div class="field">
        <label class="label" for="reg-state">State</label>
        <div class="control">
          <input  id="reg-state" class="input" type="text" placeholder="State"  formControlName="state">
        </div>
      </div>

    <div class="field">
        <label class="label" for="reg-zipcode">Zip</label>
        <div class="control">
            <input  id="reg-zipcode" class="input" type="text" placeholder="zip"  formControlName="zip">
        </div>
    </div>

    <div class="field">
        <label class="label" for="reg-phoneNumber">Phone</label>
        <div class="control">
            <input id="reg-phoneNumber" class="input" type="text" placeholder="Phone" 
             formControlName="phoneNumber">
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label class="checkbox" for="reg-accept-tnc">
                <input id="reg-accept-tnc" type="checkbox">
                    I agree to the <a href="#">terms and conditions</a>
            </label>
        </div>
    </div>
      
    <div class="field">
        <div class="control">
            <label class="radio">
                <input type="radio" name="question">
                    Yes
            </label>
            <label class="radio">
                <input type="radio" name="question">
                 No
            </label>
        </div>
    </div>
      
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link"   type="submit" [disabled]="!registrationForm.valid">Submit</button>
        </div>
        <div class="control">
            <button class="button is-link is-light">Cancel</button>
        </div>
    </div>
    </form>
</div>